<div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>類別</option>
        {{#each categorysList}}
        <option>{{this.category}}</option>
        {{/each}}
      </select>
    </div>
    <div class="createCategory">
      <a class='btn btn-success' href='/createCategory'>Create</a>
    </div>
  </div>

  <div class="total-amount">
    <h1><span class='total-title'><sup>總金額:</sup></span>{{totalAmount}}</h1>
  </div>
  <ul>
    {{#each records}}
    <li>
      <div class="row d-flex justify-content-between">
        <div class="icon col-1"><i class="{{this.category_icon}} fas fa-2x"></i></div>
        <div class='detail col-4'>
          <div>
            <i class='topic'>{{this.topic}}</i>
          </div>
          <div>
            <i class='time'>{{this.date}}</i>
          </div>
        </div>
        <div class="price col-5">
          <i class='amount'>{{this.amount}}</i>
        </div>
        <a class='btn btn-success col-1' href="">編輯</a>
        <a class='btn btn-danger col-1' href="">刪除</a>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="create">
    <a href="/new" class="btn btn-warning">新增支出</a>
  </div>


</div>