<div class="container">
  <div class="row d-flex justify-content-center m-3">
    <div class="dropdown ml-2">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each categorysList}}
        <a class="dropdown-item" href="/filter/{{this.category}}">{{this.category}}</a>
        {{/each}}
      </div>
    </div>
    <div class="createCategory">
      <a class='btn btn-success' href='/categorys/newCategory'>Create Category</a>
    </div>
  </div>

  <div class="total-amount">
    <h1><span class='total-title'><sup>總金額:</sup></span>{{totalAmount}}</h1>
  </div>
  <ul>
    {{#each records}}
    <li>
      <div class="row d-flex justify-content-between">
        <div class="icon col-1"><i class="{{this.category_icon}} fas fa-2x"></i></div>
        <div class='detail col-4'>
          <div>
            <i class='topic'>{{this.topic}}</i>
          </div>
          <div>
            <i class='time'>{{this.date}}</i>
          </div>
        </div>
        <div class="price col-5">
          <i class='amount'>{{this.price}}元</i>
        </div>
        <a class='btn btn-success col-1' href="/records/{{this._id}}/edit">編輯</a>
        <form action="/records/{{this._id}}/delete" method="post" style="display: inline;" onsubmit="return deleteCheckAgain()">
          <button class='btn btn-danger col-12 py-3' type="submit">刪除</button>
        </form>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="create">
    <a href="/records/newRecord" class="btn btn-warning">新增支出</a>
  </div>
</div>