<div class="container">
  <div class="row d-flex justify-content-center m-3">
    <div class="createCategory">
      <form method="GET" action='/filter'>
        <div class="filters row mr-2">
          <div class="filterCategory">
            <select class="btn btn-secondary dropdown-toggle" name="category" onchange="submit()">
              {{#if categories}}<option>{{categories}}</option>{{/if}}
              <option class="dropdown-item" value="全部">全部</option>
              {{#each categorysList}}
              <option class="dropdown-item" value="{{this.category}}">{{this.category}}</option>
              {{/each}}
            </select>
          </div>
          <div class="filterMonth ml-3">
            <select class="btn btn-secondary dropdown-toggle" name="month" onchange="submit()">
              {{#if months}}<option>{{months}}</option>{{/if}}
              <option class="dropdown-item" value="全部">全部</option>
              {{#each monthsList}}
              <option class="dropdown-item" value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="createCategory ml-2">
      <a class='btn btn-success' href='/categorys/newCategory'>Create Category</a>
    </div>
    <div class="chartPage ml-2">
      <a class='btn btn-primary' href='/chart'>Chart with Category</a>
    </div>
  </div>

  <div class="total-amount">
    <h1><span class='total-title'><sup>總金額:</sup></span>{{totalAmount}}</h1>
  </div>
  <ul>
    {{#each records}}
    <li>
      <div class="row d-flex justify-content-between">
        <div class="icon col-1"><i class="{{this.category_icon}} fas fa-2x"></i></div>
        <div class='detail col-4'>
          <div>
            <i class='topic'>{{this.topic}}</i>
          </div>
          <div>
            <i class='time'>{{this.date}}</i>
          </div>
        </div>
        <div class="price col-5">
          <i class='amount'>{{this.price}}元</i>
        </div>
        <a class='btn btn-success col-1' href="/records/{{this._id}}/edit">編輯</a>
        <form action="/records/{{this._id}}/delete" method="post" style="display: inline;" onsubmit="return deleteCheckAgain()">
          <button class='btn btn-danger col-12 py-3' type="submit">刪除</button>
        </form>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="create">
    <a href="/records/newRecord" class="btn btn-warning">新增支出</a>
  </div>
</div>